header {
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    z-index: 100;
    background-color: rgb(210, 233, 233);
}

header button {
    background-color: #FFFFFF;
    padding: 7px 15px 7px 15px;
    margin-top: 4px;
    border: 1px solid #000000;
    border-radius: 10px;
    font-size: 15px;
    transition: 0.3s;
}

button:hover {
    background-color: #a9a9a9;
    cursor:pointer;
}

h4 {
    font-size: 40px;
}

li {
    list-style-type: none;
    font-size: 20px;
    margin-top: 30px;
    margin-right: 40px;
}

body {
    text-align: center;
    width: 80%;
    height: 100%;
    font-size: 20px;
}

table {
    margin-left: auto;
    margin-right: auto; 
    margin: 0 auto;
}

th {
    text-align: right;
}

td {
    text-align: left;
}

button {
    font-size: 20px;
    border-radius: 10px;
    transition: 0.3s;
}

footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: auto;
    z-index: 200;
}

.got {
    color: #000000;
    text-decoration: none;
}