header {
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
}

h4 {
    font-size: 40px;
}

li {
    list-style-type: none;
}

body {
    text-align: center;
    width: 80%;
    height: 100%;
    font-size: 20px;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.task {
    position: relative;
    left: 10px;
}

.deadline {
    position: relative;
    left: 30px;
}

.place {
    position: relative;
    left: 30px;
}

.memo {
    position: relative;
    left: 30px;
}

button {
    background-color: #FFFFFF;
    padding: 7px 15px 7px 15px;
    margin-top: 4px;
    border: 1px solid #000000;
    border-radius: 10px;
    font-size: 15px;
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}