header {
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
}

li {
    list-style-type: none;
}

table {
    margin: 0 auto;
    text-align: center;
    width: 60%;
    height: auto;
    font-size: 24px;
    color: white;

    border-collapse: collapse;
    border: 3px solid white;
}

tr,th,td {
    border-collapse: collapse;
    border: 3px solid white;
    color: black;
}

td {
    padding-top: 8px;
    padding-bottom: 8px;
}

/* nth-last-child(-n+2) ... 最後から2番目までのすべての子要素 */
tbody tr:nth-child(odd) td:not(:nth-last-child(-n+2)) {
  background-color: #c3c3c3;
}

/* nth-last-child(-n+2) ... 最後から2番目までのすべての子要素 */
tbody tr:nth-child(even) td:not(:nth-last-child(-n+2)){
  background-color: #e1e1e1;
}

thead th:not(:last-child) {
    background-color: #bfeffe;
}

.tableButton {
    border: none;
    background-color: transparent;
}

table:last-child{
    background-color: transparent;
}

.tableButton button{
    width: 100%;
    height: 200%;
    font-size: 20px;
    border-radius: 10px;
    transition: 0.3s;
}

.tableButton button:hover{
    background-color: #a9a9a9;
}

.div-list{
    position: relative;
    left: 10%;
    width: 90%;
}

.div-list h3 {
    position: relative;
    left: 15%;
    width: 50%;
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

i {
    margin-left: 10px;
}