table {
    margin: 0 auto;
    text-align: center;
    width: 60%;
    height: auto;
    font-size: 24px;
    color: white;

    border-collapse: collapse;
    border: 3px solid white;
}

tr,th,td {
    border-collapse: collapse;
    border: 3px solid white;
    color: black;
}

thead th:not(:last-child) {
    background-color: #d3d3d3;
}

td {
    padding-top: 8px;
    padding-bottom: 8px;
}

tbody td {
    background-color: #d3d3d3;
}

.tableButton {
    border: none;
    background-color: transparent;
}

table:last-child{
    background-color: transparent;
}

.tableButton button{
    width: 100%;
    height: 200%;
    font-size: 20px;
}