header {
    padding: 1px;
}

h4 {
    font-size: 40px;
}

li {
    list-style-type: none;
}

body {
    position: relative;
    text-align: center;
    min-height: 100vh;
    padding-bottom: 120px;
    box-sizing: border-box;
    font-size: 20px;
}

.username {
    position: relative;
    left: 10px;
}

input {
    padding: 5px;
}

div {
    margin: 10px;
}

button {
    background-color: #FFFFFF;
    padding: 7px 15px 7px 15px;
    margin-top: 5px;
    border: 1px solid #000000;
    border-radius: 10px;
    font-size: 15px;
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}