<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: head(ユーザ登録)}"></head>
<body>
    <div th:replace="~{layout :: header}"></div>
    <form th:action="@{/register}" th:object="${userForm}" method="post">
        <div>
            <label for="username">ユーザ名：</label>
            <input type="text" id="username" name="username" th:field="*{username}" placeholder="例）tarou" required>
        </div>

        <div>
            <label for="password">パスワード：</label>
            <input type="password" id="password" name="password" th:field="*{password}" required>
        </div>
        <label for="namepass">※ユーザ名とパスワードは半角英大・小文字、数字使用可</label><br>
        <button type="submit">登録</button>
    </form>
    <a href="login.html"><button type="submit">戻る</button></a>
    <div th:replace="~{layout :: footer}"></div>
</body>
</html>