<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" th:href="@{/css/listStyle.css}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.4/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
<head th:replace="~{layout :: head(完了タスク一覧)}"></head>
<body>
    <div th:replace="~{layout :: header}"></div>
    <div class="div-list">
        <h3 class="functionTitle">完了タスク一覧<i class="fa-solid fa-circle-check"></i></h3>
        <div class="table-backcolor"></div>
        <div class="list-scroll">
            <table>
                <thead>
                    <tr>
                        <th>タスク</th>
                        <th class="sortable" onclick="sortTable(1)">締切日</th>
                        <th>カテゴリー</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="todo : ${todos}" th:if="${todo.isTodoflag}">
                        <td><a th:href="@{/todos/{id}(id=${todo.id})}"><span th:text="${todo.task}">task</span></a></td>
                        <td><span th:text="${todo.deadline}">deadline</span></td>
                        <td><span th:text="${todo.category}">category</span></td>
                        <td class="tableButton">
                            <form th:action="@{/todos/{id}/delete(id=${todo.id})}" method="post">
                                <div>
                                <button class="trashButton" type="submit"><i class="fa-solid fa-trash-can fa-lg"></i></button></div>
                            </form>
                        </td>
                        <td class="tableButton">
                            <form th:action="@{/todos/{id}/change2/true(id=${todo.id}, isTodoflag=${todo.isTodoflag})}" method="post">
                                <button type="submit">戻す</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>  
    </div>
    <script src="/js/script.js"></script>
    <div th:replace="~{layout :: footer}"></div>
</body>
</html>