<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" th:href="@{/css/listStyle.css}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.4/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
<head th:replace="~{layout :: head(タスク一覧)}"></head>
<body>
    <div th:replace="~{layout :: header}"></div>
    <div class="div-list">
        <h3>タスク一覧<i class="fa-solid fa-clipboard-list"></i></h3>
        <div class="table-backcolor"></div>
        <div class="list-scroll">
            <table>
                <thead>
                    <tr>
                        <th>優先度</th>
                        <th>タスク</th>
                        <th class="sortable" onclick="sortTable(1)">締切日</th>
                        <th>開始時間</th>
                        <th>カテゴリー</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="todo : ${todos}" th:unless="${todo.isTodoflag}">
                        <td th:if="${todo.priority == '高'}"><span th:text="${todo.priority}" style="color: red;">priority</span></td>
                        <td th:if="${todo.priority == '中'}"><span th:text="${todo.priority}" style="color: rgb(245, 157, 74);">priority</span></td>
                        <td th:if="${todo.priority == '小'}"><span th:text="${todo.priority}" style="color: blue;">priority</span></td>
                        <td><a th:href="@{/todos/{id}(id=${todo.id})}"><span th:text="${todo.task}">task</span></a></td>
                        <td><span th:text="${todo.deadline}">deadline</span></td>
                        <td><span th:text="${todo.startTime}">startTime</span></td>
                        <td><span th:text="${todo.category}">category</span></td>
                        <td class="tableButton">
                            <form th:action="@{/todos/{id}/edit(id=${todo.id})}" method="get">
                                <button type="submit">編集</button>
                            </form>
                        </td>
                        <td class="tableButton">
                            <form th:action="@{/todos/{id}/change/false(id=${todo.id}, isTodoflag=${todo.isTodoflag})}" method="post">
                                <button type="submit">完了</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
    <script src="/js/script.js"></script>
    <div th:replace="~{layout :: footer}"></div>
</body>
</html>