<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" th:href="@{/css/edit&formStyle.css}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.4/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <script th:src="@{/js/img.js}"></script>
<head th:replace="~{layout :: head(タスク編集)}"></head>
<body>
    <div th:replace="~{layout :: header}"></div>
    <h3>タスク編集<i class="fa-solid fa-pen-to-square"></i></h3>
    <form th:action="@{/todos/{id}/edit(id=${todo.id})}" th:object="${todo}" method="post">
        <div class="bbb">
            <label for="priority">優先度：</label>
            <select id="priority" th:field="*{priority}">
                <option value="" selected>優先度を選択</option>
                <option th:value="高" style="color: red;">高</option>
                <option th:value="中" style="color: rgb(245, 157, 74);">中</option>
                <option th:value="低" style="color: blue;">低</option>
            </select>
        </div>
        <div class="ccc">
            <label for="task">タスク：</label>
            <input type="text" id="task" name="task" th:field="*{task}" maxlength="20" required>
        </div>
        <div class="ddd">
            <label for="category">カテゴリー：</label>
            <select id="category" th:field="*{category}">
                <option th:value="仕事">仕事</option>
                <option th:value="プライベート">プライベート</option>
            </select>
        </div>
        <div class="eee">
            <label for="deadline">締切日：</label>
            <input type="date" id="deadline" name="deadline" th:field="*{deadline}" maxlength="30" required>
        </div>
        <div class="ggg">
            <label for="startTime">開始時間：</label>
            <input type="time" id="startTime" name="startTime" th:field="*{startTime}">
        </div>
        <div class="hhh">
            <label for="endTime">終了時間：</label>
            <input type="time" id="endTime" name="endTime" th:field="*{endTime}">
        </div>
        <div class="fff">
            <label for="place">場所：</label>
            <input type="text" id="place" name="place" th:field="*{place}">
        </div>
        <div>
            <label class="a5" for="memo">メモ：</label>
            <textarea class="b5" type="text" id="memo" name="memo" th:field="*{memo}" rows="4" cols="50"></textarea>
        </div>
        <button class="ttt" type="submit">変更</button>
    </form>
    <div th:replace="~{layout :: footer}"></div>
</body>