<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: head(タスク編集)}"></head>
<body>
    <div th:replace="~{layout :: header}"></div>
    <h3>タスク編集</h3>
    <form th:action="@{/todos/{id}/edit(id=${todo.id})}" th:object="${todo}" method="post">
        <div>
            <label for="task">タスク：</label>
            <input type="text" id="task" name="task" th:filed="*{task}" required>
        </div>
        <div>
            <label for="category">カテゴリー：</label>
            <input type="text" id="category" name="category" th:filed="*{category}" required>
        </div>
        <div>
            <label for="deadline">締切日：</label>
            <input type="date" id="deadline" name="deadline" th:filed="*{deadline}" required>
        </div>
        <div>
            <label for="place">場所：</label>
            <input type="text" id="place" name="place" th:filed="*{place}">
        </div>
        <div>
            <label for="memo">メモ：</label>
            <input type="text" id="memo" name="memo" th:filed="*{memo}">
        </div>
        <button type="submit">変更</button>
    </form>
    <div th:replace="~{layout :: footer}"></div>
</body>